*{
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', sans-serif;
}
.all{
    min-height: 200vh;
    align-items: center;
    justify-content: center;
}
.form-container{
    height: 950px;
    width: 1050px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
}